@font-face {
  font-family: 'Neonderthaw';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/neonderthaw/v8/Iure6Yx5-oWVZI0r-17AeZZJ.ttf) format('truetype');
}
